@model IEnumerable<EPassBook.Models.UserViewModel>

<div>

    <style>
        .button {
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }

        .button1 {
            border-radius: 2px;
        }

        .button2 {
            border-radius: 4px;
        }

        .button3 {
            border-radius: 8px;
        }

        .button4 {
            border-radius: 12px;
        }

        .button5 {
            border-radius: 50%;
        }
    </style>

    <h4>Users</h4>
    <hr />

    @if (Model != null)
    {
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <div style="height: auto; overflow: auto;">
            <!-- Your Table Here -->
            <table id="userGrid" class="table table-responsive table-sm table-striped table-bordered" style="border-radius:1em;">
                <tr>
                    <th style="display:none;">ID</th>
                    <th>@Html.DisplayNameFor(model => model.UserName)</th>
                    <th>@Html.DisplayNameFor(model => model.Email)</th>
                    <th>@Html.DisplayNameFor(model => model.MobileNo)</th>
                    <th>@Html.DisplayNameFor(model => model.Address)</th>
                    <th>City</th>
                    <th>Company</th>
                    <th>@Html.DisplayNameFor(model => model.RoleName)</th>
                    <th>Details</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                @foreach (var items in Model)
                {
                    <tr>
                        <td style="display:none;">@items.UserId</td>
                        <td>@items.UserName</td>
                        <td>@items.Email</td>
                        <td>@items.MobileNo</td>
                        <td>@items.Address</td>
                        <td>@items.CityMaster.CityName</td>
                        <td>@items.CompanyMaster.CompanyName</td>
                        <th>@items.RoleName</th>
                        <td>@Html.ActionLink("Details", "Details", new { id = @items.UserId }, new { @class = "btn alert-info" })</td>
                        <td>@Html.ActionLink("Edit", "Edit", new { id = @items.UserId }, new { @class = "btn btn-default" })</td>
                        <td>@Html.ActionLink("Delete", "Delete", new { id = @items.UserId }, new { @class = "btn alert-danger", onclick = "return IsManager('" + @items.RoleName + "','" + @items.UserId + "');" })</td>

                    </tr>
                }
            </table>
        </div>
    }
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>



    <div>
        <fieldset>
            @*<legend style="color:orangered">Click On Satyaprakash Bootstrap PopUp</legend>*@
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        @*<button id="btnShowModal" type="button" class="btn btn-sm btn-default pull-left col-lg-11 button button4">
                                Modals
                            </button>*@


                    </div>
                </div>
            </div>
        </fieldset>
    </div>

    <div class="modal fade" tabindex="-1" id="AlertModal"
         data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 class="modal-title">Alert</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <p id="AlertMessage"></p>
                            <label id="IdForDelete" style="display:none"></label>
                        </div>
                    </form>
                </div>
                <div class="modal-footer" id="footer">
                    <button type="button" id="btnYes" class="btn btn-primary button button4">
                        Yes
                    </button>
                    <button type="button" id="btnNo" class="btn btn-danger button button4">
                        No
                    </button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript">

        function IsManager(role, id) {
            if (role == 'Admin') {
                $("#AlertMessage").text("Admin cannot be deleted");
                $("#AlertModal").modal('show');
                //$("#footer").attr("display", "none");
                $("#footer").hide();

                return false
            }
            else {
                $("#footer").show();
                $("#AlertMessage").text("Are you sure you wish to delete this user?");
                $("#AlertModal").modal('show');
                $("#IdForDelete").val(id);
                return false
            }
        }

        $("#btnYes").click(function () {
            var label = $("#IdForDelete");
            var id = label.val();
            $("#AlertModal").modal('hide');
            var url = '@Url.Action("Delete","User")';
            var data = { id: id };
            $.ajax(
                {
                    type: "GET",
                    url: url,
                    data: data,
                    contentType: "application/json; charset=utf-8",
                    success: function (response) {
                        window.location = '@Url.Action("Index")';
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
        });

        $("#btnNo").click(function () {
            $("#AlertModal").modal('hide');
        });
    </script>

</div>
