@model IEnumerable<EPassBook.Models.UserViewModel>

<div>
    <h4>Users</h4>
    <hr />

    @if (Model != null)
    {
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <div style="height: auto; overflow: auto;">
            <!-- Your Table Here -->
            <table class="table table-responsive table-sm table-striped table-bordered" style="border-radius:1em;">
                <tr>
                    <th style="display:none;">ID</th>
                    <th>@Html.DisplayNameFor(model => model.UserName)</th>
                    <th>@Html.DisplayNameFor(model => model.Email)</th>
                    <th>@Html.DisplayNameFor(model => model.MobileNo)</th>
                    <th>@Html.DisplayNameFor(model => model.Address)</th>
                    <th>City</th>
                    <th>Company</th>
                    <th>@Html.DisplayNameFor(model => model.RoleName)</th>
                    <th>Details</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                @foreach (var items in Model)
                {
                <tr>
                    <td style="display:none;" >@items.UserId</td>
                    <td>@items.UserName</td>
                    <td>@items.Email</td>
                    <td>@items.MobileNo</td>
                    <td>@items.Address</td>
                    <td>@items.CityMaster.CityName</td>
                    <td>@items.CompanyMaster.CompanyName</td>
                    <th>@items.RoleName</th>
                    <td>@Html.ActionLink("Details", "Details", new { id = @items.UserId }, new { @class = "btn alert-info" })</td>
                    <td>@Html.ActionLink("Edit", "Edit", new { id = @items.UserId }, new { @class = "btn btn-default" })</td>
                    <td>@Html.ActionLink("Delete", "Delete", new { id = @items.UserId }, new { @class = "btn alert-danger" })</td>
                </tr>
                }
            </table>
        </div>
    }
</div>
