@using System.Web.Mvc.Html
@model EPassBook.Models.AccountDetailsViewModel
@{
    if (ViewBag.Message != null)
    {
        //Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<section class="content" id="accountant">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">

                </div>
                @using (@Html.BeginForm("Accountant", "WorkFlow", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
                {
                    <div class="box-body">
                        @Html.HiddenFor(model => model.InstallmentId)
                        @Html.ValidationSummary(false, "", new { @class = "text-danger" })

                        <div class="form-group">
                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                @Html.LabelFor(model => model.AccountNo, htmlAttributes: new { @class = "control-label col-md-2" })
                            </div>
                            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 ui input">
                                @Html.DisplayFor(model => model.AccountNo, new { htmlAttributes = new { @class = "form-control" } })

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                @Html.LabelFor(model => model.IFSCCode, new { @class = "control-label col-md-2" })
                            </div>
                            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 ui input">
                                @Html.DisplayFor(model => model.IFSCCode, new { htmlAttributes = new { @class = "form-control" } })

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <p class="control-label col-md-12">
                                    Has been transferred Rs @Html.DisplayFor(model => model.LoanAmnt) (Rupees @Html.DisplayFor(model => model.LoanAmtInRupees))
                                    Through RTGS/DBT
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                @Html.LabelFor(model => model.TransactionId, new { @class = "control-label col-md-2" })
                            </div>
                            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                                @Html.EditorFor(model => model.TransactionId, new { htmlAttributes = new { @class = "form-control" } })

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                                @Html.LabelFor(model => model.Sign, new { @class = "col-md-2" })
                            </div>
                            <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                                @Html.CheckBoxFor(model => model.Sign, new { htmlAttributes = new { @class = "form-control", @id = "Sign" } })

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input id="hiddforCheckbox"
                                       name="hiddforCheckbox"
                                       value="no"
                                       type="hidden" />
                                <label id="lblTransaction" class="text-danger"></label><br />
                                <label id="lblSign" class="text-danger"></label>
                            </div>
                        </div>
                        <div class="box-footer">
                            <input type="submit" onclick="return validationAcountant();" value="Submit" class="btn btn-primary" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

@if (!User.IsInRole(EPassBook.Helper.Common.Accountant))
{
    <script type="text/javascript">
        $(document).ready(function () {
            debugger;
            $('#accountant').find(':input').prop('disabled', true);
        });
    </script>
}

<script type="text/javascript">
    function validationAcountant() {
        if ($("#TransactionId").val().trim() == "" && $("#hiddforCheckbox").val() == "no") {
            $("#lblTransaction").text("Please Enter Transaction no");
            $("#lblSign").text("Please sign in to confirm your submission");
            return false;
        }
        else {
            if (($("#TransactionId").val().trim() == "") || ($("#hiddforCheckbox").val() == "no")) {
                if ($("#TransactionId").val().trim() == "") {
                    $("#lblSign").text("");
                    $("#lblTransaction").text("Please Enter Transaction no");
                    return false;
                }
                if ($("#hiddforCheckbox").val() == "no") {
                    $("#lblTransaction").text("");
                    $("#lblSign").text("Please sign in to confirm your submission");
                    return false;
                }
            }
        }
        $("#lblSign").text("");
        $("#lblTransaction").text("");
        return true;
    }
    $("#Sign").change(function () {
        if ($("#Sign").is(":checked")) {
            $("#hiddforCheckbox").val("Checked");
            $("#hiddforCheckbox").val("yes");
        }
        else {
            $("#hiddforCheckbox").val("Unchecked");
            $("#hiddforCheckbox").val("no");
        }
    })
</script>

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
        window.onload = function () {
            debugger
            alert("submited successfully");
            window.location.href = "/WorkFlow/Index/";
        };
    </script>
}


