@model IEnumerable<EPassBook.Models.SurveyDetailsModel>
@{

}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>E-Pass Book</title>
</head>
<body>
    @if (Model != null)
    {
        <div style="height: auto; overflow: auto;">
            <!-- Your Table Here -->
            <table class="table table-responsive table-bordered" style="margin-top:50px">
                <tr>
                    <th>ID</th>
                    <th>BeniId</th>
                    <th>Sr.No</th>
                    <th>Date</th>
                    <th>Name of the Surveyer</th>
                    <th>Mobile</th>
                    <th>Physical Progress</th>
                    <th>Instruction/Suggestion</th>
                    <th>Signature</th>
                </tr>
                @foreach (var items in Model)
                {
                    <tr>
                        <td>@items.BeneficiaryId</td>
                        <td>@items.BeneficiaryId</td>
                        <td>1</td>
                        <td>@items.CreatedDate</td>
                        <td>@items.UserName</td>
                        <td>@items.MobileNo</td>
                        <td>@items.Physical_Progress</td>
                        <td>@items.Comments</td>
                        <td>@Html.CheckBoxFor(m => items.Sign, new { @disabled = "disabled" })</td>
                    </tr>

                }
            </table>
        </div>
    }
</body>
</html>
